.PlanCard {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 10px 10px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  transform: 0.2s;
}

.PlanCard + .PlanCard {
  margin-top: 10px;
}

.PlanCardPlanAction {
  display: flex;
  gap: 10px;
}

.PlanCardplanName {
  color: #455266;
}
