.planItem {
  width: 328px;
  height: 400px;
  background-color: #f5f8fa;
  border-radius: 10px;
  margin: 5px 0px 0px 5px;
}

.titleDay {
  color: #455266;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}
