.buttonAddPlan {
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  height: 100px;
  width: 100px;
  background: #4d66c3;
  padding: 15px 25px 15px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
  cursor: pointer;
}

.buttonAddPlan:hover {
  opacity: 0.2;
}
