.PlanCardplanList {
  background-color: #ffffff;
  margin: 0px 10px 0 10px;
  padding: 5px 0px 0px 15px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
}

.planTitle {
  color: #455266;
}

.plan {
  padding-bottom: 5px;
}
