.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.layout__sidebar {
  background-color: #f7f9fd;
  width: 80px;
  flex-shrink: 0;
  border-right: 2px solid #edeef5;
}

.layout__main {
  background-color: #f7f9fd;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.layout__main-header {
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #f1f1f6;
  flex-shrink: 0;
}

.layout__main-content {
  height: 100%;
  background-color: #f2f6fa;
}
