.buttonSetting {
  border: none;
  border-radius: 7px;
  width: 100px;
  height: 40px;
  padding: 0px 20px 0px 20px;
  background-color: #f7f9fd;
  cursor: pointer;
  color: #1c274c;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonSetting:hover {
  opacity: 0.2;
}
