.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--userName {
  margin-left: 20px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

.account--tools {
  margin-right: 20px;
  gap: 20px;
}

.account--line {
  border-left: 2px solid #eaebf2;
  height: 30px;
  margin-right: 20px;
}

.account--foto img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.account--options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1c274c;
  font-size: 10px;
}
.account--data {
  padding-left: 10px;
}
