.page {
  width: 100%;
  height: 100%;
  background-color: #f7f9fd;
}

.page__filter {
  background-color: #ffff;
  height: 160px;
  flex-shrink: 0;
  border-bottom: 2px solid #edeef5;
}

.page__kanban {
  display: flex;
  flex-direction: column;
}

.page__kanban-settings {
  width: 100%;
  height: 80px;
}
.page__kanban-days {
  display: flex;
  flex-direction: row;
  overflow: auto;
}
