.addPlanButton {
  display: flex;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  height: 45px;
  width: 120px;
  font-size: 15px;
  background: #4d66c3;
  border: solid #1f628d 0px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addPlanButton:hover {
  opacity: 0.2;
}
