.planCard {
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;
  border: 2px solid #eaedf4;
}

.planCard__title {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.planCard__text {
  padding: 5px 25px;
}

.planCardDown {
  width: 100%;
  background-color: #ffffff;
  border-radius: 7px;

  border: 2px solid #697ecc;
}
